@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
    
  :root  {
    --background: 17 44% 98%;
    --foreground: 17 5% 10%;
    --card: 17 44% 98%;
    --card-foreground: 17 5% 15%;
    --popover: 17 44% 98%;
    --popover-foreground: 17 95% 10%;
    --primary: 17 54% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 17 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -21 30% 95%;
    --muted-foreground: 17 5% 40%;
    --accent: -21 30% 90%;
    --accent-foreground: 17 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 17 5% 98%;
    --border: 17 30% 82%;
    --input: 17 30% 50%;
    --ring: 17 54% 63%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 17 44% 10%;
    --foreground: 17 5% 98%;
    --card: 17 44% 10%;
    --card-foreground: 17 5% 98%;
    --popover: 17 44% 5%;
    --popover-foreground: 17 5% 98%;
    --primary: 17 54% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 17 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -21 30% 25%;
    --muted-foreground: 17 5% 65%;
    --accent: -21 30% 25%;
    --accent-foreground: 17 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 17 5% 98%;
    --border: 17 30% 50%;
    --input: 17 30% 50%;
    --ring: 17 54% 63%;
    --radius: 0.5rem;
  }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }